<div class="container text-center">
  <div class="row">
    <h1 class="col">推しおみや</h1>
  </div>
  <div class="row pt-3">
    <p class="col">みんなで推しのお土産を紹介しあうサイトです。</br>みんなの推しを確認してみましょう。</p>
  </div>
  <div class="row justify-content-center pt-3 ">
    <%= link_to "ゲストログイン", post_images_path, class: "btn btn-outline-secondary col-md-auto m-1" %>
    <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline-success col-md-auto m-1" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary col-md-auto m-1" %>
  </div>
</div>